Remove duplicate row

In [3]:
# create dataframe that have several duplicate data in each column name, age, class
import pandas as pd
pd.options.display.width = 1000

# create dataframe that have several duplicate data in each column name, age, class
data = {'name': ['Tom', 'Gil', 'Tom', 'Tom'],
        'age': [11,12,11,10],
        'class': ['A', 'A', 'A', 'A']}
df = pd.DataFrame(data)
print("dataframe df:")
print(df)

# remove duplicate rows by name, keep the last one
df = df.drop_duplicates(subset=['name'], keep='last')
print(df)

dataframe df:
  name  age class
0  Tom   11     A
1  Gil   12     A
2  Tom   11     A
3  Tom   10     A
  name  age class
0  Tom   11     A
1  Gil   12     A