In [4]:
import pandas as pd
pd.options.display.width = 1000

staff = pd.read_csv('staff.csv')
print(staff.head(5))

               name             city date_of_birth  start_date   salary       department
0          John Doe      Houston, TX    1998-11-04  2018-08-11  $65,000       Accounting
1          Jane Doe     San Jose, CA    1995-08-05  2017-08-24  $70,000    Field Quality
2        Matt smith       Dallas, TX    1996-11-25  2020-04-16  $58,500  human resources
3     Ashley Harris        Miami, FL    1995-01-08  2021-02-11  $49,500       accounting
4  Jonathan targett  Santa Clara, CA    1998-08-14  2020-09-01  $62,000    field quality
name             object
city             object
date_of_birth    object
start_date       object
salary           object
department       object
dtype: object

The staff contains the start_date and date_of_birth columns.  
Weâ€™re asked to find the age of employees at the time they were hired in years.   
For instance, if an employee was born in 1991 and started working in 2021, then the answer should be 30.

In [44]:
# convert date_of_birth and start_date column to datetime64
staff = staff.astype({'date_of_birth': 'datetime64[ns]', 'start_date': 'datetime64[ns]'})

# calculate age column using start_date - start_date
staff['age'] = (staff["start_date"] - staff["date_of_birth"])
# extract year from age column as datetime delta
staff['age'] = staff['age'].dt.days // 365
print(staff.head(5))

staff["day_of_the_week"] = staff["start_date"].dt.dayofweek

               name             city date_of_birth start_date   salary       department  age  day_of_the_week
0          John Doe      Houston, TX    1998-11-04 2018-08-11  $65,000       Accounting   19                5
1          Jane Doe     San Jose, CA    1995-08-05 2017-08-24  $70,000    Field Quality   22                3
2        Matt smith       Dallas, TX    1996-11-25 2020-04-16  $58,500  human resources   23                3
3     Ashley Harris        Miami, FL    1995-01-08 2021-02-11  $49,500       accounting   26                3
4  Jonathan targett  Santa Clara, CA    1998-08-14 2020-09-01  $62,000    field quality   22                1