In [12]:
import pandas as pd
Students = {'Class1' : { 'Rollno' : 1 , 'Name' : 'Alice' } , 'Class2' : { 'Rollno' : 2 ,  'Name' : 'Bob'}, 'Class3' : { 'Rollno' : 3 , 'Name' : 'Charlie' }}
df = pd.DataFrame(Students)
print(df)

s = pd.Series([1,2,3,4,5])
print("series")
print(s[2 : ])
s2 = pd.Series([1,2,3,4,5])

print(s + s2)

print(len(df))

print(df.count())

print(s[::2])

print(pd.cut(s, bins=3))

       Class1 Class2   Class3
Rollno      1      2        3
Name    Alice    Bob  Charlie
series
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
2
Class1    2
Class2    2
Class3    2
dtype: int64
0    1
2    3
4    5
dtype: int64
0    (0.996, 2.333]
1    (0.996, 2.333]
2    (2.333, 3.667]
3      (3.667, 5.0]
4      (3.667, 5.0]
dtype: category
Categories (3, interval[float64]): [(0.996, 2.333] < (2.333, 3.667] < (3.667, 5.0]]

In [1]:
import pandas as pd
S = {'a': pd.Series(range(1, 3), index = ['a', 'b']),
'b': pd.Series(range(2, 4), index = ['a', 'c']),
}

df = pd.DataFrame(S)
print(df)

     a    b
a  1.0  2.0
b  2.0  NaN
c  NaN  3.0

In [12]:
# test create new column using group by
import pandas as pd

# create a dataframe with column class: A, B, C (6 row) and value 1,2,3,4,5,6
df = pd.DataFrame({'class': ['A', 'B', 'C', 'A', 'B', 'C'], 'value': [1, 2, 3, 4, 5, 6]})
df["pct"] = df.groupby("class")["value"].pct_change()

pct_change = df.groupby("class")["value"].pct_change()
print("pct_change")
print(pct_change)
print("df")
print(df)

pct_change
0    NaN
1    NaN
2    NaN
3    3.0
4    1.5
5    1.0
Name: value, dtype: float64
df
  class  value  pct
0     A      1  NaN
1     B      2  NaN
2     C      3  NaN
3     A      4  3.0
4     B      5  1.5
5     C      6  1.0

In [25]:
# play with transform
import pandas as pd
import numpy as np
df = pd.DataFrame({'class': ['A', 'B', 'C', 'A', 'B', 'C'], 'value': [1, 2, 3, 4, 5, 6]})

gr = df.groupby("class")["value"].agg("mean")
print("gr")
print(gr)

transformed = df.groupby("class")["value"].transform("mean")
print("transformed")
print(transformed)

gr
class
A    2.5
B    3.5
C    4.5
Name: value, dtype: float64
transformed
0    2.5
1    3.5
2    4.5
3    2.5
4    3.5
5    4.5
Name: value, dtype: float64

In [ ]:
# write a function calculate sum of two integer, check if resuilt is overflow or not
def add(a, b):
    if a > 0 and b > 0 and a + b < 0:
        return "overflow"
    if a < 0 and b < 0 and a + b > 0:
        return "overflow"
    return a + b